.bg-dark {
    background-color: #6960F1!important;
}

.extra-rounded {
    border-radius: 30px;
}

.rounded {
    height: 50px;
    width: 50px;
    border-radius: 100rem!important;
    margin-right: 10px;
}

@media (prefers-color-scheme: dark) {
     :root {
        --primary: #6960f1;
        --default-button-bg: #080456;
        --header-bg: #6960f1;
    }
}

.navbar-brand {
    color: #f5dd5d !important;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2;
    text-decoration: none;
    transition: color 0.15s, background 0.15s;
}

.breadcrumbs {
    text-align: left;
    justify-content: flex-end!important;
    flex-wrap: nowrap;
}

.toggler {
    border-color: transparent!important;
    display: flex;
    align-items: center;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.nav-brand-toggle {
    display: flex;
    justify-content: space-between;
}

.text-white {
    text-align: left;
    box-sizing: border-box;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1rem;
    margin-top: .5rem!important;
    margin-right: .5rem!important;
    color: #fff!important;
}

.img-thumbnail {
    color: #212529;
    text-align: left;
    box-sizing: border-box;
    vertical-align: middle;
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #ddd;
    transition: all .2s ease-in-out;
    max-width: 100%;
    height: 50px;
    width: 50px;
    border-radius: 100rem!important;
    margin-right: 10px;
}

.btn-danger {
    box-sizing: border-box;
    text-decoration: none;
    touch-action: manipulation;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    margin-top: .25rem!important;
    margin-right: .25rem!important;
    margin-left: .25rem!important;
}

.fa-sign-out {
    text-align: center;
    white-space: nowrap;
    user-select: none;
    color: #fff;
    box-sizing: border-box;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

@media (max-width: 768px) {
    .breadcrumbs {
        flex-wrap: wrap;
    }
    .nav-brand-toggle {
        width: 100%;
    }
    .sidebar-img {
        display: none;
    }
}

.card-menu {
    margin-top: 10px;
    border-radius: 10px;
}

.card-body {
    border-radius: 10px;
    border-color: transparent;
}

.card-menu:hover {
    box-shadow: 6px 15px 37px -12px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 6px 15px 37px -12px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 6px 15px 37px -12px rgba(0, 0, 0, 0.6);
}

.active-card {
    background-color: #6960f1!important;
    color: #fff!important;
}