{% extends 'base.html' %} {% block title %} TechniQ Quizz | Home {% endblock title %} {% block content %}

<section style="margin-top:50px;">
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-6" style="display: flex;align-items: center;flex-direction: row-reverse;">
                <p class="h3" style="text-align:end;margin-top:0%"><b>Question:</b>
                </p>
            </div>
            <div class="col-6">
                <p class="b1 float-start rounded p-1" id="ques_time" style="border:darkslateblue solid 4px;display: flex;align-items: center;height: 60px;width: 60px;    justify-content: center;">00:00</p>
            </div>
        </div>
        <div class="row">
            <div class="col-10 mx-auto d-block mt-1" id="Ques" style="min-height:5vh;border: solid;border-radius:5px;border-color: black;background-color:white;padding: 20px;margin-bottom: 10px;">
                {{ question.question|safe }}
            </div>
        </div>
        {% if question.hint != None %}
        <div class="row" style="display: flex; flex-direction: row-reverse;">
            <button type="button" class="btn btn-primary btn-sm float-end my-1 p-1" id="toastbtn" data-toggle="modal" data-target="#hintmodal" style="margin-right: 10%;width: 70px;">
                <h5 style="margin-bottom: 5px!important;">Hint</h5>
            </button>
        </div>
        <div class="modal fade" id="hintmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Hint</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                    </div>
                    <div class="modal-body">
                        {{ question.hint|safe }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="questionid" value="{{ question.id }}">
        <div class="form-check" style="margin-left: 8%;">
            {% for option in options %} {% if question.type == 'Multiple Correct' %}
            <div style="padding-top: 1%">
                <br><input type="checkbox" class="form-check-input" id="{{ option.id }}" name="{{ option.id }}">
                <label class="form-check-label" for="{{ option.id }}">
                    <p>{{ option.option|safe }}</p>
                </label><br>
            </div>
            {% else %}
            <div style="padding-top: 1%">
                <br><input type="radio" class="form-check-input" value="{{ option.id }}" id="{{ option.id }}" name="option">
                <label class="form-check-label" for="{{ option.id }}">
                    <p>{{ option.option|safe }}</p>
                </label><br>
            </div>
            {% endif %} {% endfor %}
        </div>
        <div class="container-fluid mt-3" style="padding-left: 48%;">
            <button type="submit" id="next" class="btn btn-outline-primary">NEXT</button>
        </div>
    </form>
    <script>
        var flag = 0;

        function startTimer(duration, display) {
            var timer = duration,
                minutes, seconds;
            setInterval(function() {
                if (flag == 1) {
                    return;
                }
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    document.getElementById("next").click();
                    flag = 1;
                }
            }, 1000);
        }

        window.onload = function() {
            var quiz_time = 60 * 60,
                display = document.querySelector('#quiz_time');
            startTimer(quiz_time, display);
        };

        window.onload = function() {
            var ques_time = {{ question.duration }};
            display = document.querySelector('#ques_time');
            startTimer(ques_time, display);
        };
    </script>

</section>

{% endblock content %}