{% extends 'base.html' %} {% block title %} TechniQ Quizz | Home {% endblock title %} {% block content %}

<section style="margin-top:50px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6-lg mt-1">
                <span class="float-start" style="border:2px;">
                    <div class="rounded p-1" style="border:darkslateblue solid 4px;padding-top:10px!important;">
                        <h6 class="b1">1/25</h6>
                    </div>
                </span>
                <span class="float-end  mx-4">
                    <div class=" rounded p-1" style="border:darkslateblue solid 4px;">
                        <h6 class="b1" id="quiz_time">60:00</h6>
                    </div>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mt-1">
                <p class="h3" style="text-align:end;margin-top:0%"><b>Question:</b>
                </p>
            </div>
            <div class="col-6">
                <p class="b1 float-start rounded p-1" id="ques_time" style="border:darkslateblue solid 4px;">00:13</p>
            </div>
        </div>
        <div class="row">
            <div class="col-10 mx-auto d-block mt-1" id="Ques" style="min-height:5vh;border: solid;border-radius:5px;border-color: black;background-color:white;">
                {{ question.question|safe }}
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary btn-sm float-end my-1 p-1" id="toastbtn" style="margin-right: 10%;">
        <h5 class="b1">Hint</h5>
    </button>
    <div class="toast float-end">
        <div class="toast-header">
            <strong class="me-auto">Hint</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
        </div>
        <div class="toast-body">
            {{ question.hint }}
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="questionid" value="{{ question.id }}">
        <div class="form-check" style="margin-left: 8%;">
            {% for option in options %} {% if question.type == 'Multiple Correct' %}
            <div style="padding-top: 1%">
                <br><input type="checkbox" class="form-check-input" id="check1" name="{{ option.id }}">
                <label class="form-check-label" for="check1">
                        <p>{{ option.option|safe }}</p>
                    </label><br>
            </div>
            {% else %}
            <div style="padding-top: 1%">
                <br><input type="radio" class="form-check-input" value="{{ option.id }}" name="option">
                <label class="form-check-label" for="check1">
                        <p>{{ option.option|safe }}</p>
                    </label><br>
            </div>
            {% endif %} {% endfor %}
        </div>
        <div class="container-fluid mt-3" style="padding-left: 48%;">
            <button type="submit" class="btn btn-outline-primary">NEXT</button>
        </div>
    </form>
    <script>
        function startTimer(duration, display) {
            var timer = duration,
                minutes, seconds;
            setInterval(function() {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    timer = duration;
                }
            }, 1000);
        }

        window.onload = function() {
            var quiz_time = 60 * 60,
                display = document.querySelector('#quiz_time');
            startTimer(quiz_time, display);
        };

        window.onload = function() {
            var ques_time = (60 * 1) - 1,
                display = document.querySelector('#ques_time');
            startTimer(ques_time, display);
        };

        document.getElementById("toastbtn").onclick = function() {
            var toastElList = [].slice.call(document.querySelectorAll('.toast'))
            var toastList = toastElList.map(function(toastEl) {
                return new bootstrap.Toast(toastEl)
            })
            toastList.forEach(toast => toast.show())
        }
    </script>

</section>

{% endblock content %}